html,body {
  margin: 0;
  height: 100%;
}

/* 居中布局 + 大标题 */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background: #ffffff;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

h1 {
  margin-top: 20px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: .5px;
  color: #111;
}

/* —— 图例 —— */
.legend {
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 12px;
  color: #111;
  user-select: none;
}

.legend-item {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.key {
  display: inline-block;
  width: 16px;
  height: 12px;
  vertical-align: middle;
}

.key.box {
  background: #fff;
  border: 1px solid #000;
  border-radius: 2px;
}

.key.shadow {
  background: rgba(161, 161, 161, 1);
  filter: blur(2px);
  border-radius: 2px;
}

.key.line {
  width: 24px;
  height: 0;
  border-top: 2px solid red;
}

/* ======= 容器尺寸可调 ======= */
#wrap {
  width: 1000px;
  height: 600px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  position: relative;
  background: #f9faef;
  border-radius: 12px;

}

/* SVG 占满容器 */
#wrap svg {
  width: 100%;
  height: 100%;
  display: block;
}

/* 文本样式 */
text.activity,
text.passer {
  font-weight: 400;
  font-size: 10px;
  fill: #000;
  text-anchor: middle;
  dominant-baseline: middle;
  pointer-events: none;
  user-select: none;
}
.activity-img, 
.passer-img {
  pointer-events: none;
  user-select: none;
}
